/* CSS bestand
   Hierin staat de opmaak van onze html pagina
*/

/* marges aan de zijkant van de pagina verwijderen */
html,body {
  margin: 0;
}

/* laat het canvas waarin we onze game maken
   de volle breedte van het window gebruiken 
*/
.p5Canvas {
  height: 100% !important;
  max-width: 100% !important;
}

